.aside-wrapper {
    height: 100%;
}

.aside-nav__block {
    background-color: #FFFFFF;
    padding: 25px;
    border-radius: 16px;
}

.aside-nav__list {
    margin: 0;
    padding: 0;
    list-style: none;
    gap: 10px;
    margin: 0 0 25px 0;
}

.aside-nav__item {
    display: flex;
    align-items: center;
    /* gap: 10px; */
    margin: 0 0 15px 0;
}

.aside-nav__link {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
}

.aside-nav__button {
    display: block;
    padding: 14px;
    width: 165px;
    background-color: #9E5FC4;
    border-radius: 60px;
    font-size: 14px;
    line-height: 18px;
    font-weight: 500;
    text-align: center;
    margin: 0;
    border: 0;
    color: #ffffff;
}

.aside-nav__item-country--all {
    color: #9E5FC4;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
}