.images-block__list {
    display: grid;
    flex-wrap: wrap; 
    grid-template-columns: repeat(3, 240px);
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 40px 20px;
}

.images-block__image-text {
    font-size: 13px;
    line-height: 15px;
    font-weight: 400;
    color: rgba(36, 36, 36, 0.5);
    text-align: right;
}

.images-block__item {
    width: 240px;
    height: 240px;
} 

.images-block__item--flat {
    grid-column: 1 / 2;
    width: 500px;
    height: 300px;
}

.images-block__item--flat-right {
    grid-column: 3 / 4;
    width: 365px;
    height: 300px;
}


.images-block__item--down-small {
    grid-column: 3/ 4;
    width: 240px;
    height: 320px;
}

.images-block__item--vertical {
    grid-row: 2 / 3;
    width: 365px;
    height: 410px;
}

.images-block__item--big-size {
    grid-row: 3 / 4;
    width: 365px;
    height: 490px;
}

.images-block__item--flat-center {
    grid-column: 2 / 4;
    /* grid-row: 2 / 3; */
    width: 500px;
    height: 300px;
}