.main-nav__list {
    display: flex;
    flex-wrap: wrap;
    gap: 29px;
    margin: 0;
    padding: 15px 0;
    list-style: none;
}

.main-nav__item-link {
    font-size: 15px;
    line-height: 20px;
    font-weight: 500;
    color: #ffffff;
}